.option-block {
  margin-bottom: 24px;
}

.option-block.cart-popup {
  margin-bottom: 8px;
}
.option-block.cart-popup:last-child {
  margin-bottom: 0px;
}

.option-name {
  margin: 0 0 8px 0;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}
.option-name.cart-popup {
  margin: 0 0 8px 0;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.options-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.option-item {
  margin-right: 12px;
}
.option-item:last-child {
  margin-right: 0;
}
.option-item-selected {
  background-color: #1d1f22;
  color: white;
}
.list-item-block {
  padding: 0 8px;
  cursor: pointer;
  border: 1px solid #1d1f22;
  min-width: 64px;
  height: 45px;
  position: relative;
}
.list-item-text {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
}

.option-item.color {
  margin-right: 8px;
  border: 1px solid #1d1f22;
}

.option-item.color:last-child {
  margin-right: 0;
}
.option-item-selected.color {
  border: 1px solid #5ece7b;
}
.list-item-block.color {
  padding: 0;
  border: 1px solid white;
  min-width: unset;
  height: 32px;
  width: 32px;
}
.list-item-block.color.cart-popup {
  margin-bottom: 0;
  height: 16px;
  width: 16px;
  min-width: unset;
  cursor: auto;
}
.list-item-block.color.main-cart {
  cursor: auto;
}

.option-item.cart-popup {
  margin-right: 8px;
}
.list-item-block.cart-popup {
  padding: 0 2px;
  cursor: auto;
  min-width: 24px;
  height: 24px;
}
.list-item-block.main-cart {
  cursor: auto;
}

.list-item-text.cart-popup {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
