.product-list-container {
  margin-top: 80px;
}

.product-list-title {
  margin: 0 0 103px;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}
.product-list-cards-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, 355px);
  grid-gap: 103px 40px;
}
