.description-block {
  margin-top: 82px;
  display: flex;
  justify-content: space-between;
}
.img-block {
  display: flex;
  margin-right: 100px;
}
.preview-block {
  display: flex;
  flex-direction: column;
}
.preview-img {
  margin: 0 40px 40px 0;
  max-width: 80px;
}
.main-img {
  max-width: 610px;
}

.description-content {
  max-width: 292px;
}

.heading {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  color: #1d1f22;
}
.name {
  margin: 0 0 43px;
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

.price-heading {
  margin: 0 0 10px;
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1d1f22;
}
.price {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #1d1f22;
}

.btn-add {
  padding: 16px 32px;
  width: 100%;
  border: none;
  background-color: #5ece7b;
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}
.text {
  font-family: "Roboto";
  text-align: justify;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
